#!/usr/bin/env bash

helloearth(){
  echo scripts/update_shortcut.rc
}

update_shortcut(){
  TMP_DIR=$(mktemp -d)
  PY_CONTENT=$(cat scripts/update_shortcut.py)

  rsync -avzh ./.env $TMP_DIR/.env

  python3 scripts/update_shortcut.py $TMP_DIR/.env

  rsync -avzh $TMP_DIR/.env ./.env

}

new_from(){
  set -x

  rm -rf * &
  rm -rf .* &
  wait

  TEST=`echo $PWD|rev |cut -d'/' -f1 |rev`
  # git branch -D test/$TEST
  # git checkout -b test/$TEST

  rsync -avzh --exclude node_modules --exclude .cache --exclude public ../$1/ .

}

helloworld(){
  echo 'helloworld'
}
