@charset "utf-8";
@import "bulma/bulma.sass";

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, calc(100% /4));
  gap: 10px 10px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
