@charset "utf-8";
@import "bulma/bulma.sass";

.result-card{

  margin: 10px 10px;
}

.result-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(16, calc(100%/16));
  grid-template-rows: repeat(6, calc(100%/6));
}

.result-tile {
  min-height: 100px;

}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, calc(100% /4));
  gap: 10px 10px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
