[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hugchat = "*"
flask = "*"
flask-limiter = "*"
flask-sqlalchemy = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.12"
